.floatingNav {
  font-family: system-ui;
  position: fixed;
  bottom: var(--spacing-xl);
  border-radius: var(--border-radius);
  left: 0;
  margin-left: var(--spacing-lg);
  background-color: var(--background-light);
  color: var(--foreground);
  height: var(--spacing-xl);
  border: 1px groove var(--muted-color);

  padding: var(--spacing-lg);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg);
  align-items: center;
  transition: opacity 200ms ease;

  a {
    color: var(--foreground);
  }

  .circle {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    border-radius: 20px;
    background-color: blue;
    margin-left: var(--spacing-sm);
  }


  .searchContainer {
    display: flex;
    align-items: center;

    #search-clear {
      display: none;
    }

    input[type="search"] {
      appearance: none;
      all: unset;
      width: 4rem;
      transition: width 0.2s ease;

      &::placeholder {
        color: var(--foreground);
        opacity: 1;
      }

      &:focus {
        width: 20rem;

        &::placeholder {
          opacity: .3;
        }
      }
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  .clearIcon {
    cursor: pointer;
  }

  @media (max-width: 900px) {
    left: 0 !important;
  }
}