.addButtonContainer {
  position: fixed;
  bottom: var(--spacing-xl);
  border-radius: var(--border-radius);
  right: 10vw;
  backdrop-filter: blur(4px);
  background-color: rgba(187, 255, 70, 0.7);
  border: 1px groove var(--muted-color);
  color: black;
  transition: opacity 200ms ease;
  margin-right: var(--spacing-lg);

  .addButton {
    appearance: none;
    width: var(--spacing-xl);
    height: var(--spacing-xl);
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: rgba(187, 255, 70, 1);
    }
  }

  .open {
    padding: var(--spacing-sm);
    background-color: rgba(187, 255, 70, 1);
  }

  @media (max-width: 900px) {
    right: 0 !important;
    bottom: var(--spacing-lg);
  }
}
