.radioTableContainer {
  border: 1px groove var(--muted-color);
  border-radius: var(--border-radius);
  background-color: var(--background);

  .mainRadioTable {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        text-align: left;
        font-weight: normal;
        color: var(--muted-text-color);
      }
    }

    tbody {
      .genres,
      .tags {
        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: var(--spacing-xs);

          .genreItem,
          .tagItem {
            font-size: 0.875rem;
            padding: var(--padding-item);
            background-color: rgba(var(--tagBGColor), 0.3); /* 50% opacity */
            transition: background-color 0.1s ease;
            cursor: pointer;

            &:hover {
              color: var(--background);
              background-color: rgba(
                              var(--tagBGColor),
                              1
              ); /* 100% opacity on hover */
            }
          }
        }
      }

      .url {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    thead tr,
    tbody tr:not(:last-child) {
      border-bottom: 1px groove var(--muted-color);
    }

    td {
      vertical-align: top;
      padding: var(--spacing-sm) var(--spacing-md);
    }

    /* Responsive design adjustments */
    @media (max-width: 1024px) {
      thead,
      tbody {
        .genres {
          display: none;
        }
      }
    }
    @media (max-width: 768px) {
      thead,
      tbody {
        .tags {
          display: none;
        }
      }
    }
  }

  .tableHeader {
    th {
      padding: var(--spacing-sm) var(--spacing-md);

      &.actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}